* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica;
  background: white;
  color: black;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 40px;
}

/* Header */
.header h1 {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

/* Main Layout */
.main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
}

.left {
  flex: 1;
}

.coming {
  font-size: 34px;
  font-weight: 300;
  margin-bottom: 5px;
  margin-left: 100px;
}

.sub {
  font-size: 16px;
  font-weight: 200;
  margin-left: 240px;
}

.img-footer{
  font-size: 14px;
  font-weight: 400;
  margin-top: 5px;
  margin-left: 520px;

}

.right {
  display: inline-block;
  flex: 1;
}

.right img {
  width: 90%;
  max-width: 600px;
  height: auto;
}

/* Footer */
.footer {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-top: 40px;
}

  a.contact {
  font-size: 16px;
}

.footer a {
  color: black;
  text-decoration: none;
  margin: 5px;
}

.footer a:hover {
  opacity: 0.6;
}